In [5]:
import pandas as pd

In [6]:
df=pd.read_csv(r"c:\Users\HP\Downloads\october_war_operations_major_battles.csv")

print(df)

        operation_name        date             egyptian_commander  \
0  Mansoura Air Battle  10/14/1973      Air Marshal Hosni Mubarak
1      Ismailia Battle  10/22/1973  Maj. Gen. Abdel Moneim Khalil

  egyptian_losses_est               israeli_losses_est
0          6 aircraft  17 aircraft (Israel admitted 7)
1            25killed               70 killed, 40tanks

In [7]:
#change data type into datetime

df['date']=pd.to_datetime(df['date'],errors='coerce')

print(df['date'])

0   1973-10-14
1   1973-10-22
Name: date, dtype: datetime64[ns]

In [8]:
#generate new column to put the aircraft losses for each country on it

df['eg_aircraft_lost']=df['egyptian_losses_est'].str.extract(r'(\d+)\s*aircraft').astype(float)
df['isr_aircraft_lost']=df['israeli_losses_est'].str.extract(r'(\d+)\s*aircraft').astype(float)
print(df)

        operation_name       date             egyptian_commander  \
0  Mansoura Air Battle 1973-10-14      Air Marshal Hosni Mubarak
1      Ismailia Battle 1973-10-22  Maj. Gen. Abdel Moneim Khalil

  egyptian_losses_est               israeli_losses_est  eg_aircraft_lost  \
0          6 aircraft  17 aircraft (Israel admitted 7)               6.0
1            25killed               70 killed, 40tanks               NaN

   isr_aircraft_lost
0               17.0
1                NaN

In [9]:
#generate columns for the killed people and the number of tanks lost

df['eg_killed']=df['egyptian_losses_est'].str.extract(r'(\d+)\s*killed').astype(float)
df['isr_killed']=df['israeli_losses_est'].str.extract(r'(\d+)\s*killed').astype(float)
df['isr_tanks_lost']=df['israeli_losses_est'].str.extract(r'(\d+)\s*tanks').astype(float)
df['eg_tank_lost']=df['egyptian_losses_est'].str.extract(r'(\d+)\s*tanks').astype(float)

print(df)

        operation_name       date             egyptian_commander  \
0  Mansoura Air Battle 1973-10-14      Air Marshal Hosni Mubarak
1      Ismailia Battle 1973-10-22  Maj. Gen. Abdel Moneim Khalil

  egyptian_losses_est               israeli_losses_est  eg_aircraft_lost  \
0          6 aircraft  17 aircraft (Israel admitted 7)               6.0
1            25killed               70 killed, 40tanks               NaN

   isr_aircraft_lost  eg_killed  isr_killed  isr_tanks_lost  eg_tank_lost
0               17.0        NaN         NaN             NaN           NaN
1                NaN       25.0        70.0            40.0           NaN

In [10]:
#replace nulls 

df['eg_aircraft_lost']=df['eg_aircraft_lost'].fillna(0)
df['eg_killed']=df['eg_killed'].fillna(0)
df['eg_tank_lost']=df['eg_tank_lost'].fillna(0)
df['isr_aircraft_lost']=df['isr_aircraft_lost'].fillna(0)
df['isr_killed']=df['isr_killed'].fillna(0)
df['isr_tanks_lost']=df['isr_tanks_lost'].fillna(0)

print(df)

        operation_name       date             egyptian_commander  \
0  Mansoura Air Battle 1973-10-14      Air Marshal Hosni Mubarak
1      Ismailia Battle 1973-10-22  Maj. Gen. Abdel Moneim Khalil

  egyptian_losses_est               israeli_losses_est  eg_aircraft_lost  \
0          6 aircraft  17 aircraft (Israel admitted 7)               6.0
1            25killed               70 killed, 40tanks               0.0

   isr_aircraft_lost  eg_killed  isr_killed  isr_tanks_lost  eg_tank_lost
0               17.0        0.0         0.0             0.0           0.0
1                0.0       25.0        70.0            40.0           0.0

In [12]:
df.to_csv(r"C:\Users\HP\Downloads\cleaned_octoberwar.csv", index=False)